a.btn {
  display: inline-block;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  background: white;
  color: black;
}

.btn--start {
  border-radius: 1rem;
  padding: 2rem 4rem;
}