html {
  background-color: black;
}

.museruse--ui {
  display: flex;
}

.menu {
  display: flex;
  color: white;
  padding-right: 50px;
}

.canvas--container {
  width: 420px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.content {
    width: 420px;
    height: 800px;
}

.track {
  position: absolute;
}